 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
 }

 .banner {
     position: relative;
     width: 100%;
     height: 60vh;
     background: url("../img/banner4.png") center / cover no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
 }

 .banner-caption {
     position: relative;
     margin-right: 500px;
     z-index: 1;
 }
 .list-group a {
     text-decoration: none;
     color: rgb(255, 255, 255);
 }