* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #ffffff;
}

.logo {
    display: flex;
    font-size: 20px;
    color: rgb(40, 40, 40);
    font-family: Arial, sans-serif;
}

.logo img {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    width: 50%;
    margin: 10px;
}

.nav a {
    display: flex;
    text-decoration: none;
    color: rgb(40, 40, 40);
    font-family: Arial, sans-serif;
    align-items: center;
}

.cards {
    display: flex;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.child-1 {
    padding: 20px;
    font-size: 12px;
}

.child-1 img {
    width: 170px;
}

.cards p {
    color: rgb(29, 29, 29);
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}







.search {
    display: flex;
    width: 70%;
    justify-content: space-between;

}

.search input {

    width: 90%;
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    color: #868686;
    background-color: #ebebeb;

}

.signin {
    width: 100%;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signin img {
    width: 20%;
    position: relative;
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.signin a,
p {
    font-size: 14px;
    font-family: Arial, sans-serif;
    align-items: center;
}


.festival {
    display: flex;
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
    gap: 0px;
    grid-template-columns: auto;
    justify-content: space-around;
    align-items: center;
}

.deals {
    padding: 10px;
    font-size: 12px;
}

.deals img {
    width: 350px;
}

.festival p {
    color: rgb(29, 29, 29);
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}

.background {
    margin: 0;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://picsum.photos/1200/800");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 30px;
}

.box {
    background: rgba(255, 255, 255, 0.8);
    /* semi-transparent white */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.box h1 {
    font-size: 2rem;
    /* uses rem */
    font-family: Arial, sans-serif;
}

.box p {
    font-size: 1em;
    /* depends on parent font */
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.movies {
    display: flex;
    grid-template-columns: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.movies img {
    display: flex;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.movies a {
    display: flex;
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.heading {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading a {
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.subheading a {
    background-color: #ff3131;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-weight: 600;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    border: 1px solid #ff3131;
}

.subheading1 a {
    background-color: rgb(255, 255, 255);
    color: #626262;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    border: 1px solid #626262;
}

.footer {
    background-color: #ff3131;
}

.footer-content h4 {
    font-family: Arial, sans-serif;
    color: rgb(29, 29, 29);
    text-align: center;
    padding: 20px;
    background-color: #ff3131;
    color: white;
}