* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-color:hsl(0, 0%, 92%);
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(26, 39, 95);
}

.logo {
    display: flex;
    font-size: 20px;
    color: white;
    font-family: Arial, sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav a {
    display: flex;
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, sans-serif;
}
.nav h1 {
    display: flex;
    font-size: 20px;
    color: #fff;
}



.btn{
    background-color:violet;
    width: 250px;
    height:100px;
    text-align: center;
    border-radius:20px;
    transition: all 0.5s ease;

}
.btn:hover {
    background-color:orangered;
    transform:scale(1.1);
}


.box {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    box-sizing: border-box;
}
.box1 {
    margin: 10px;
    transform:translate(120px,120px);
}

.box2 {
    flex-direction: row;
    margin: 10px;
    transform:translate(120px,120px);
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}
.child {
    max-width: 1200px;
    padding: 30px;
    color: rgb(48, 48, 48);
    font-family: Arial, sans-serif;
}
.child p{
    font-size: 20px;
}

.parent1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
    background-image: url("https://picsum.photos/1200/800");
    background-size: cover;
    background-position: center;
}
.child1 {
    max-width: 800px;
    background-color: rgb(94, 79, 150);
    border-radius: 25px;
    padding: 30px;
    color: #fff;
    font-family: Arial, sans-serif;
}
.child1 p{
    color:white;
}

.child img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.footer {
    display: flex;
    background-color: rgb(26, 39, 95);
    justify-content: center;
    padding: 10px;
    color: white;
    width: 100%;
    font-family: Arial, sans-serif;
}

.cards {
    display: flex;
    margin: 20px;
    padding: 50px;
    box-sizing: border-box;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}
.child-1 {
    padding: 5px;
    font-size: 12px;
}
.child-1:hover {
    color:#ffffff;
    transform: scale(1.1) rotate(270deg);
}

.child-1 img {
    width: 250px;
    border-radius: 10px;
    
}



.transform{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.tbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    background-color: #e7b7af;
    width: 20%;
    transition: transform 0.5s ease;
}
.tbox:hover {
    transform: scale(1.1);
}
.tbox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    background-color: #e7b7af;
    width: 20%;
    transition: transform 0.5s ease;
}
.tbox2:hover {
    transform: translate(20px,10px);
}
.cards p {
    color: rgb(29, 29, 29);
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
}
.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

form {
    display: grid;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
}
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
input:focus, textarea:focus {
    border-color: orangered;
    outline: none;
}
input[type="submit"] {
    background-color: rgb(26, 39, 95);
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 20px;
}
.container h1 {
    font-family: Arial, sans-serif;
    color: rgb(29, 29, 29);
}
.container p {
    font-family: Arial, sans-serif;
    color: rgb(29, 29, 29);
}

.container img {
  padding: 30px;
  transition: transform .2s ease;
  margin: 0 auto;
}

.container img:hover {
  transform: scale(1.1); 
}



button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 39, 95);
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
button:hover {
    background-color: red;
}

@media (min-width:1600px){
    body {
        background-color:#ffffff;
        color:#fff;
    }
    .child1 {
        font-size: 18px;
        color:#3c3c3c;
    }
}
@media (max-width:1440px){
    body {
        background-color:#b9b4e5;
        color:#fff;
    }
    .child1 {
        font-size: 18px;
        color:transparent;
        background-color: transparent;
    }

}
@media (max-width:1024px){
    body {
        background-color:#aad0e0;
        color:#fff;
    }
    .child1 {
        font-size: 18px;
        color:#fff;
        background-color: burlywood;
    }
}
@media (max-width:768px){
    body {
        background-color:#e7b7af;
        color:#fff;
    }
    .child1 {
        font-size: 18px;
        color:transparent;
        background-color: transparent;
    }
}
@media (max-width:425px){
    body {
        background-color:#dfaccc;
    }
    .child1 {
        font-size: 18px;
        color:#fff;
        background-color: burlywood;
    }
}
