input[type=text],
select,
textarea {
    width: 82%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=number],
select,
textarea {
    width: 33%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=date] {
    width: 25%;
    background-color: #ffffff;
    color: #000;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
}

input[type=tel] {
    width: 25%;
    background-color: #ffffff;
    color: #000;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
}

input[type=radio] {
    width: 5%;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
}

input[type=checkbox] {
    width: 5%;
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
}

input[type=email] {
    width: 36%;
    background-color: #ffffff;
    color: #000;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
}


button {
    background-color: rgb(228, 43, 43);
    color: white;
}

ul {
    text-align: left;
}

.container {
    background-color: #fff6ea;
    font-size: 16px;
    width: 58%;
    font-family: 'Arial', sans-serif;
    padding: 50px 50px 50px 50px;
    line-height: 25px;
    border: 2px;
}

.textarea {
    width: 99%;
    border-radius: 35px;
}

.form-input,
.form-select,
.form-textarea {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    padding: 0.75rem;
    font-size: 0.875rem;
    color: #1f2937;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.submit-btn {
    width: 100%;
    border-radius: 2.375rem;
    background-color: #c02a2a;
    padding: 0.75rem 1.5rem;
    font-weight: 800;
    color: white;
    border: 2px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.reset-btn {
    width: 50%;
    border-radius: 0.375rem;
    background-color: #c02a2a;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;

}

.test {
    font-size: 18px;
    line-height: 4;
}
.test-blood, select {
    width: 34%;
}
.test-blood {
    font-size: 18px;
    line-height: 4;
    width: 34%;
}



.instruction p {
    text-align: left;
    font-size: 18px;
}

.style {
    text-align: left;
}

table, th, td {
  border: 0px solid black;
  padding: 25px 5px 15px 0px;
}
th {
  background-color: #f36523;
  color: #ffffff;
}
tr {
  background-color: #ffebe1;
  color: #1e1e1e;
}
.copyright {
    text-align:center;
    background-color:#f36523;
    color:white;
    width:62%;
    padding:15px;
    font-family: 'Arial', sans-serif;
    font-weight:600;
}